.taskOwner { 
  padding-left: 1rem;
}
.taskTotal {
  padding-left: 1rem;
}
.taskProduct {
  padding-left: 1rem;
  font-weight: 900;
}
.taskClaim {
  padding-left: 1rem;
  text-align: center;
}

.profileTaskProducts {
  background-color: aliceblue;
}

.taskCard{
  margin-top: 10px;
}

.taskProducts {
  background-color: aliceblue;
  padding: 0px!important;
}

#request-list {
  text-align: center!important;
}

.products-quantity, .products-amount, .products-name {
  margin: 2px;
  margin-bottom: 0px;
  font-weight: 900;
  font-size: 
}