.taskOwner { 
  padding-left: 1rem;
}
.taskTotal {
  padding-left: 1rem;
}
.taskProduct {
  padding-left: 1rem;
  font-weight: 900;
}
.taskClaim {
  padding-left: 1rem;
  text-align: center;
}

.buttons {
  display: inline-block;
}

#success-message {
  text-align: center;
}

.margin {
  margin: 20px;
}